rating_complete filter=lfs diff=lfs merge=lfs -text
animelist filter=lfs diff=lfs merge=lfs -text
anime_with_synopsis filter=lfs diff=lfs merge=lfs -text
anime filter=lfs diff=lfs merge=lfs -text
anime.csv filter=lfs diff=lfs merge=lfs -text
anime_with_synopsis.csv filter=lfs diff=lfs merge=lfs -text
rating_complete.csv filter=lfs diff=lfs merge=lfs -text
animelist.csv filter=lfs diff=lfs merge=lfs -text
